<div class="container-fluid">
	<div id="head">Um ein neues Modul zu erstellen geben Sie den Namen des Moduls ein und bestätigen Sie </div>
	<div id="SolutionView"> </div>

	
	<div id="Studiengang">
		<ul class='list-group'>
			<li style='background-color:FFBF00' class='list-group-item ' >
				<input class='form-control' id="addModul" placeholder="Name"></input>
			</li>
			<li style='background-color:FFBF00' class='list-group-item ' >
				<button id="submitModul" class="btn btn-default">Bestätigen</input>
			</li>
		</ul>
	</div>
</div>