<div class="container-fluid">
	Geben sie die Anzahl der zu erstellenden User ein und bestätigen Sie diese.<br>
	Es können nicht mehr wie 50 User auf einmal erstellt werden.<br>
	Nach einigen Sekunden erscheinen die Usernamen mit Passwörtern zum Ausdrucken.<br>
	<input  id="amount" type="text" class="form-control" placeholder="Anzahl" ></input>
	<button id="submit" type="button" class="btn btn-submit">Bestätigen</button>
	<div class="container-fluid">
		<ul class='list-group ' id= 'userlist'></ul>
	</div>
</div>