<div class="container-fluid">
	<div id="head">Admin Panel </div>
	<div id="SolutionView"> </div>

	
	<div id="Studiengang" class="adminonly">Einen Studiengang hinzufügen
		<ul class='list-group'>
			<li style='background-color:FFBF00' class='list-group-item ' >
				<input id="addStudiengang" class='form-control' placeholder="Name"></input>
			</li>
			<li style='background-color:FFBF00' class='list-group-item ' >
				<button id="submitStudiengang" class="btn btn-default">Submit</input>
			</li>
		</ul>
	</div>
	
	<div class="adminonly"> Studiengang konfigurieren:
		<select id = 'degreeDropdown'> 
			<option>Bitte Wählen</option>
		</select>
		<ul id='degreeConfig' class='list-group'>
			<li style='background-color:FFBF00' class='list-group-item ' >Packetgroesse<input id='packagesize' class='form-control'></input></li>
		
			<li style='background-color:FFBF00' class='list-group-item ' >Anteil Infos<input id='infoshare' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Anteil Aufgaben<input id='taskshare' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Anteil Loesungen<input id='solutionshare' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Anteil Bewerten<input id='ratingshare' class='form-control'></input></li>
			
			<li style='background-color:FFBF00' class='list-group-item ' >Kosten Infos<input id='infocost' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Kosten Aufgaben<input id='taskcost' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Kosten Loesungen<input id='solutioncost' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Kosten Bewerten<input id='ratingcost' class='form-control'></input></li>
			
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte fürs Einstellen von Infos<input id='infopoints' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte maximal Infos<input id='infomaxpoints' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte fürs Einstellen von  Aufgaben<input id='taskpoints' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte maximal Aufgaben<input id='taskmaxpoints' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte fürs Einstellen von  Loesungen<input id='solutionpoints' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte maximal Loesungen<input id='solutionmaxpoints' class='form-control'></input></li>
			
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte fürs Einstellen von  Bewerten<input id='ratepoints' class='form-control'></input></li>

			<li style='background-color:FFBF00' class='list-group-item ' ><button id='submitConfig' class='btn btn-default'>Submit</input></li>
		</ul>
	</div>
</div>