<div class="container-fluid">
		<div class="adminonly"> Lernziel Konfig
		<ul id='degreeConfig' class='list-group'>
			
			<li style='background-color:FFBF00' class='list-group-item ' >Kosten Infos<input id='infocost' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Kosten Aufgaben<input id='taskcost' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Kosten Loesungen<input id='solutioncost' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Kosten Bewerten<input id='ratingcost' class='form-control'></input></li>
			
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte Infos<input id='infopoints' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte Aufgaben<input id='taskpoints' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte Loesungen<input id='solutionpoints' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte Bewerten<input id='ratingpoints' class='form-control'></input></li>
			
			<li style='background-color:FFBF00' class='list-group-item ' >Bewerten Faktor<input id='ratingmulti' class='form-control'></input></li>
			
			<li style='background-color:FFBF00' class='list-group-item ' ><button id='submitConfig' class='btn btn-default'>Submit</input></li>
		</ul>
	</div>
</div>