<div class="container-fluid">
		<div class="adminonly"> Lernziel Konfig
		<ul id='degreeConfig' class='list-group'>
			
			<li style='background-color:FFBF00' class='list-group-item ' >Kosten Infos<br>Wie viele Punkte soll das Einstellen von Infos Kosten ?<input id='infocost' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Kosten Aufgaben<br>Wie viele Punkte soll das Einstellen von Aufgaben Kosten ?<input id='taskcost' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Kosten Loesungen<br>Wie viele Punkte soll das Einstellen von Loesungen Kosten ?<input id='solutioncost' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Kosten Bewertungen<br>Wie viele Punkte soll das Einstellen von Bewertungen Kosten ?<input id='ratingcost' class='form-control'></input></li>
			
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte fürs Einstellen von Infos<input id='infopoints' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte maximal erreichbar bei einer durchschnittlichen Bewertungen von 5/5 Sternen Infos<input id='infomaxpoints' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte fürs Einstellen von  Aufgaben<input id='taskpoints' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte maximal erreichbar bei einer durchschnittlichen Bewertungen von 5/5 Sternen Aufgaben<input id='taskmaxpoints' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte fürs Einstellen von  Loesungen<input id='solutionpoints' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte maximal erreichbar bei einer durchschnittlichen Bewertungen von 5/5 Sternen Loesungen<input id='solutionmaxpoints' class='form-control'></input></li>
			<li style='background-color:FFBF00' class='list-group-item ' >Punkte fürs Einstellen von  Bewerten<input id='ratepoints' class='form-control'></input></li>
						
			<li style='background-color:FFBF00' class='list-group-item ' ><button id='submitConfig' class='btn btn-default'>Speichern</button><button id='deleteConfig' class='btn btn-default'>Auf Defaulteinstellungen</input></li>
		</ul>
	</div>
</div>