<div class="container-fluid">
	<div id="head"> </div>
	<div id="InfoView"> </div>

	<div>Kommentare
		<ul id="commentList" class='list-group'></ul>
	</div>
	
	<div id="actualRating">Rating
		<ul id="commentList" class='list-group'>
			<li style='background-color:FFBF00' class='list-group-item ' >
				<input id="rating1" class="rating" data-min="0" data-max="5" data-step="1"></input>
				<input id="rating2" class="rating" data-min="0" data-max="5" data-step="1"></input>
				<input id="rating3" class="rating" data-min="0" data-max="5" data-step="1"></input>
				<input id="rating4" class="rating" data-min="0" data-max="5" data-step="1"></input>
				<input id="rating5" class="rating" data-min="0" data-max="5" data-step="1"></input>
			</li>
			<li style='background-color:FFBF00' class='list-group-item'>
				<textarea id="ratingKommi" class='form-control'></textarea>
			</li>
			<li style='background-color:FFBF00' class='list-group-item'>
				<button  class='btn btn-default' id = 'addRating'>Post</button>
			</li>
		</ul>
	</div>
	<div id="ratingAll">All Ratings
		<ul id="ratingAllList" class='list-group'></ul>
	</div>
</div>