<div class="container-fluid">
	<div class="container-fluid" > Punkte
		<ul class='list-group ' id= 'selfpoints'></ul>
	</div>
	<div class="container-fluid" > Ruf
		<ul class='list-group ' id= 'selfprestige'></ul>
	</div>
	<div class="container-fluid" > Paket
		<ul class='list-group ' id= 'selfpackage'></ul>
	</div>
	<div class="container-fluid" > Infos
		<ul class='list-group ' id= 'selfinfos'></ul>
	</div>
	<div class="container-fluid" > Infos unvollständig
		<ul class='list-group ' id= 'selfinfosunfinished'></ul>
	</div>
	<div class="container-fluid" > Loesungen
		<ul class='list-group ' id= 'selfsolutions'></ul>
	</div>
	<div class="container-fluid" > Loesungen unvollständig
		<ul class='list-group ' id= 'selfsolutionsunfinished'></ul>
	</div>
	<div class="container-fluid" > Aufgaben erstellt
		<ul class='list-group ' id= 'selfcreated'></ul>
	</div>
	<div class="container-fluid" > Aufgaben erstellt unvollständig
		<ul class='list-group ' id= 'selfcreatedunfinished'></ul>
	</div>
	<div class="container-fluid" > Aufgaben gelöst
		<ul class='list-group ' id= 'selfsolved'></ul>
	</div>
</div>