<div class="container-fluid">
	<div>
		<li id="head" style='background-color:FFBF00' class='list-group-item ' ></li>
	</div>
	<div id="actualRating">Rating
		<ul id="commentList" class='list-group'>
			<li style='background-color:FFBF00' class='list-group-item ' >
				<span>Ist die Lösung (Arbeitsergebnis) verständlich ?</span>
				<input id="rating1" class="rating" data-min="0" data-max="5" data-step="1"></input>
				<span>Ist die Lösung "kurz und knackig" ?</span>
				<input id="rating2" class="rating" data-min="0" data-max="5" data-step="1"></input>
				<span>Wie finden Sie die Qualität der Quellen ?</span>
				<input id="rating3" class="rating" data-min="0" data-max="5" data-step="1"></input>
				<span>Empfinden Sie die Lösung hilfreich ?</span>
				<input id="rating4" class="rating" data-min="0" data-max="5" data-step="1"></input>
			</li>
			<li style='background-color:FFBF00' class='list-group-item'>
				<textarea id="ratingKommi" class='form-control'></textarea>
			</li>
			<li style='background-color:FFBF00' class='list-group-item'>
				<button  class='btn btn-default' id = 'addRating'>Absenden</button>
			</li>
		</ul>
	</div>
	<div id="ratingList" class="list-group">Bewertungen
	</div>
</div>