<div class="container-fluid">
	<div>
		<li id="head" style='background-color:FFBF00' class='list-group-item ' ></li>
		<li style='background-color:FFBF00' class='list-group-item ' ><button  class='btn btn-default' id = 'choseRate'>Aufgabe bewerten</button><button  class='btn btn-default' id = 'choseSol'>Lösung abgeben</button></li>"
	</div>
	<div id="actualRating" style='display: none;visibility: hidden;'>
		<ul id="actualRatingList" class='list-group'>
			<li style='background-color:FFBF00' class='list-group-item ' >
				<span>Ist die Aufgabe (Arbeitsergebnis) verständlich ?</span>
				<input id="rating1" class="rating" data-min="0" data-max="5" data-step="1"></input>
				<span>Ist die Aufgabe "kurz und knackig" ?</span>
				<input id="rating2" class="rating" data-min="0" data-max="5" data-step="1"></input>
				<span>Wie finden Sie die Qualität der Quellen ?</span>
				<input id="rating3" class="rating" data-min="0" data-max="5" data-step="1"></input>
				<span>Empfinden Sie die Aufgabe hilfreich ?</span>
				<input id="rating4" class="rating" data-min="0" data-max="5" data-step="1"></input>
			</li>
			<li style='background-color:FFBF00' class='list-group-item'>
				<textarea id="ratingKommi" class='form-control'></textarea>
			</li>
			<li style='background-color:FFBF00' class='list-group-item'>
				<button  class='btn btn-default' id = 'addRating'>Bewertung absenden</button>
			</li>
		</ul>
	</div>
	<div>
		<ul id="solForm" class='list-group'></ul>
	</div>
	<div id="mysolutionList" class='list-group'>Meine Lösungen</div>
	<div id="solutionList" class='list-group'>Lösungen</div>
	<div id="myratingList" class="list-group">Meine Bewertung</div>
	<div id="ratingList" class="list-group">Bewertungen</div>
</div>